/* Fixed WA button  */
.wa-button a {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    right: 1rem;
    background-color:#C7FAA2;
    box-shadow: 1px 1px 2px #999;
    border-radius: 3rem;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
}

.wa-button a:link {
    color:rgba(0, 0, 0, 0.655);
}

.wa-button a:visited {
    color:rgba(0, 0, 0, 0.655);
}

.wa-button i {
	color: rgba(0, 0, 0, 0.655);
}

.colored-banner, .navbar {
    background-color: #AFE1FA;
}

/* .navbar {
    opacity: 0.86;
} */

.navbar.scrolled {
    /* background-color: #AFE1FA !important; */
    opacity: 1.2 !important;
    transition: opacity 500ms linear;
}

.navbar-nav {
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

.navbar-brand {
    font-size: 1.12rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.navbar-brand img {
    height: 30px;
    width: 30px;
}

/******** Default font sizes & text margins for screens with width <991px ********/
.nav-link {
    font-size: 0.95rem;
    font-family: 'Noto Sans JP', sans-serif;
}

/******** Font sizes & text margins for tablet screens ********/
@media screen and (min-width: 991px) {
    .nav-link {
        font-size: 0.9rem;
    }
}


/********************** Anchor Tags ***********************/
a:link {
    color: #6672b8;
}

/* visited link */
a:visited {
    color: #6672b8;
}

/* mouse over link */
a:hover {
    color: #2C3B94;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #2C3B94;
    text-decoration: none;
}