body {
    text-align: center;
    padding-top: 55px;
    animation: transitionIn 1.2s;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 50px;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10deg);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    background-color: #ddf3f5;
}

.navbar.scrolled {
    background-color: #bcedf0 !important;
    transition: background-color 200ms linear;
}

/******** Default font sizes & text margins for screens with width <991px ********/
.navbar-brand {
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.nav-link {
    font-size: 0.95rem;
    font-family: 'Noto Sans JP', sans-serif;
}

h2, h4, h5, h6, p {
    margin: 8px;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 1.2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.18rem;
}

h6 {
    font-size: 1.1rem;
}

p, li, .btn-lg {
    font-size: 1rem;
}


/******** Font sizes & text margins for tablet screens ********/
@media screen and (min-width: 991px) {
    .navbar-brand {
        font-size: 1.2rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight:bold;
    }
    
    .nav-link {
        font-size: 0.9rem;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    h2 {
        font-size: 1.65rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 1.2rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.22rem;
    }
    
    h6 {
        font-size: 1.15rem;
    }
    
    p, li, .btn-lg {
        font-size: 1.1rem;
    }
}

/******** Font sizes & text margins for huge desktop screens ********/
@media screen and (min-width: 1679px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    h1, h2, h4, h6, p {
        margin: 15px;
    }
    
    h2 {
        font-size: 1.95rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 1.2rem;
    }
    
    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.25rem;
    }
    
    h6 {
        font-size: 1.15rem;
    }
    
    p, li, .btn-lg {
        font-size: 1.15rem;
    }

    .larger-p {
        font-size: 1.18rem;
    }

    .long-text-x-margin {
        margin: 0 6.2rem 0 6rem;
        line-height: 2rem;
        font-size: 1.18rem;
    }
}

/* Check if this is still needed in the end */
hr {
    width: 15%;
    border-style: dotted none none;
    border-color: rgb(192, 187, 187);
    border-width: 0.4rem;
}

.white-text {
    color: white;
}

/* Home page is text-center by default, but it's hard to read for long texts on mobile, so here's the solution */
@media screen and (max-width: 455px) {
    .mobile-text-left {
        text-align: left;
    }
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

/* Only the big FontAwesome icons become this color */
i.fa-5x {
    color:#e84a5f;
}


/******************* Container styles *******************/

.head-banner {
    background-color: #ddf3f5;
}

/* .row-of-ionizers {
    max-width: 800px;
}

@media screen and (min-width: 1400px) {
    .row-of-ionizers {
        max-width: 1000px;
    }
} */

.container-style {
    max-width: 1000px;
    margin: auto; 
}

@media screen and (min-width: 1679px) {
    .container-style {
        max-width: 1180px;
        padding: 3.2% 0%;
    }
}

@media screen and (max-width: 1679px) {
    .container-style {
        padding: 4% 0%;
    }
}

@media screen and (max-width: 1330px) {
    .container-style {
        padding: 5.6% 0%;
    }
}


@media screen and (max-width: 991px) {
    .container-style { 
        padding: 7.6% 0%;
    }
}

@media screen and (max-width: 853px) {
    .container-style {
        padding: 10% 0%;
    }
}

@media screen and (max-width: 610px) {
    .container-style {
        padding: 16% 1%;
    }
}

.colored-banner {
    background-color: #ddf3f5;
}

.diluted-banner-text {
    color: #888888;
}

/* Blue text is used throughout the website to add some variations so it won't be just white background with black text */
.blue-text {
    color: #1b6ca8;
}

/******************* Recognitions and Awards *******************/

.paper-certificate {
    overflow: auto;
    max-height: 300px;
}

.ra-certificate {
    display: inline-block;
}

/* Remove 8-point patent on smaller screens so there are only 2 certs, basically just to make sure that the certs always only take up one line */
@media screen and (max-width: 1042px) {
    .patent-disappear {
        display:none;
    }
}

/* Remove moh below desktop size and when there are only 3 certs, space them out a little and the wqa cert can have a taller width/height */
@media screen and (max-width: 1678px) {
    .moh-disappear {
        display:none;
    }
    .ra-certificate {
        margin: 0 1.6rem;
    }
    #wqa {
        max-width:300px;
    }
}

/* Reduce the width of the wqa cert when there are 4 certs */
@media screen and (min-width: 1679px) {
    #wqa {
        max-width:250px;
    }
}

/* For even smaller sizes, further reduce size of remaining 2 certs - have to put this below so can overwrite the above */
@media screen and (max-width: 698px) {
    #wqa, #iso13485 {
        max-width: 180px;
    }
    .ra-certificate {
        margin: 0;
    }
}

/* Space out vertically when the remaining 2 certs are arranged up and down on phone screens */
@media screen and (max-width: 462px) {
    #wqa {
        margin-top: 0.5rem;
    }
}

/* @media screen and (max-width: 991px) {
    #iso13485 {
        min-width: 10rem;
        max-width: 10rem;
    }
}

@media screen and (max-width: 455px) {
    #iso13485 {
        min-width: 8rem;
        max-width: 8rem;
    }
} */


/******************* Stay Young For A Long While *******************/

.blueberries-banner {
    background-image: url(Fresh-Blueberries.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 90%; */
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
}

.antioxidant-text {
    font-size: 1.38rem;
    color: rgb(226, 221, 221);
}

@media screen and (min-width: 1679px) {
    .antioxidant-text {
        padding-top: 1rem;
        margin: 0 6.2rem 0 6rem;
        font-size: 1.32rem;
    }
}

.antioxidant-text-enlarge {
    color: white;
    font-size: 1.58rem;
}

/* .border-yellow-button {
    border-color: #dba80c !important;
} */


/******************* More than Just Drinking *******************/
.unique-container-style {
    max-width: 1000px;
}

@media screen and (max-width: 1678px) {
    .unique-container-style {
        max-width: 1080px;
    }    
}

@media screen and (max-width: 1161px) {
    .unique-container-style {
        max-width: 700px;
    }    
}

/* List items in the modal box */
.modal-li {
    margin: 0 0 0 1rem;
    text-align: left;
}

/* Other text in the modal box */
.modal-p {
    margin-left: 0;
    text-align: left;
}

/* Modal Background */
.bg-modal {
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow: auto;
    position: fixed;
    /* Centralize actual modal  */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 108, 139, 0.2);
}

/* Actual Modal Box */
.modal-contents {
    height: 70%;
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1.56rem 2.8rem 1.9rem;
    position: relative;
    overflow: auto;
}

@media screen and (max-width: 570px) {
    .modal-contents {
        padding: 1.56rem 1.9rem 1.8rem 1.8rem;
    }
}

.add-modal-animation {
    animation: fadeIn ease 0.6s;
    -webkit-animation: fadeIn ease 0.6s;
    -moz-animation: fadeIn ease 0.6s;
    -o-animation: fadeIn ease 0.6s;
    -ms-animation: fadeIn ease 0.6s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


/* Set position of the close button */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.8rem;
    transform: rotate(45deg);
    /* It will make your cursor look like the link pointer when you hover over it */
    cursor: pointer;
}

@media screen and (min-width: 1679px) {
    .buttons-row {
        margin: 1.6rem auto;
        max-width: 750px;
    }
}

/* Buttons class is used to add margin-top to make sure that columns are of the same height when they are side by side on laptop mode */
/* I created a class for it as smaller screens don't need the margin-top */
/* It is also used to make sure the buttons are centralized in the own column when they are arranged in one vertical straight line on some screen widths */
@media screen and (min-width: 1162px) {
    .buttons {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1161px) {
    .buttons {
        margin-top: 0rem;
    }
}

/* Phone mode will cause the K8 machine in this banner to disappear and 
the buttons are centralized when this happens */
@media screen and (max-width: 630px) {
    .image-disappear {
        display: none;
    }
    .buttons {
        margin: auto;
    }
}

/* Make the K8 vertically-aligned in center */
.image-disappear {
    margin: auto;
    padding: 0.8rem 0 0;
}

/* Set the style for the buttons' design */
.button-style {
    padding: 5%;
    margin: 5px;
    min-width: 235px;
}

@media screen and (min-width: 1679px) {
    .button-style {
        padding: 1.2rem;
        margin: 0.2rem;
        min-width: 248px;
    }

    .button-text {
        font-size: 1rem;
    }
}

/* So the p for water types in the buttons have no margins */
.button-text {
    text-align: left;
    margin: 0;
    color: white;
}

/* There is this small width range between tablet and phone mode that will 
cause the buttons to be cut off if this is not included */
@media screen and (min-width: 630px) and (max-width: 730px) {
    .button-text {
        font-size: 1.2rem;
    }
    .button-style {
        min-width: 230px;
    }
}

/* Kangen water button */
.btn-kw {
    color: #fff;
    background-color: #cf56a1;
    border-color: #b33783;
}
  
.btn-kw:hover {
    color: #fff;
    background-color: #8b2f97;
    border-color: #8b2f97;
}
  
.btn-kw:focus, .btn-kw.focus {
    box-shadow: 0 0 0 0.12rem #8b2f97;
}

#kangen-water-h2, .kw-icons {
    color:#cf56a1;
}


/* Clean water button */
.btn-cw {
    color: #fff;
    background-color: #42b883;
    border-color: #17aa85;
}
  
.btn-cw:hover {
    color: #fff;
    background-color: #1fab89;
    border-color: #1fab89;
}
  
.btn-cw:focus, .btn-cw.focus {
    box-shadow: 0 0 0 0.12rem #1fab89;
}

#clean-water-h2, .cw-icons {
    color: #42b883;
}


/* Beauty water button */
.btn-bw {
    color: #fff;
    background-color: #eed142;
    border-color: #e9c33b;
}
  
.btn-bw:hover {
    color: #fff;
    background-color: #f3c623;
    border-color: #f3c623;
}
  
.btn-bw:focus, .btn-bw.focus {
    box-shadow: 0 0 0 0.12rem #f3c623;
}

#beauty-water-h2, .bw-icons {
    color: #dfc231;
}


/* Strong Kangen water button */

.btn-skw {
    color: #fff;
    background-color: #6d479e;
    border-color: #5e1488;
}
  
.btn-skw:hover {
    color: #fff;
    background-color: #45046a;
    border-color: #45046a;
}
  
.btn-skw:focus, .btn-skw.focus {
    box-shadow: 0 0 0 0.12rem #45046a;
}

#strong-kangen-water-h2, .skw-icons {
    color: #5c2a9d;
}


/* Strong Acidic water button */
.btn-saw {
    color: #fff;
    background-color: #fa7d09;
    border-color: #ec5b26;
}
  
.btn-saw:hover {
    color: #fff;
    background-color: #ff4301;
    border-color: #ff4301;
}
  
.btn-saw:focus, .btn-saw.focus {
    box-shadow: 0 0 0 0.12rem #ff4301;
}

#strong-acidic-water-h2, .saw-icons {
    color: #fa7d09;
}


/******************* Testimonials *******************/

/* Set a max limit to the size of the testimonial books */
.carousel-item .img-fluid {
    max-width: 13rem;
}

@media screen and (max-width: 991px) {
    .carousel-item .img-fluid {
        max-width: 9.5rem;
    }
}

/* Set a max limit to the size of the testimonial books for mobile phones*/
@media screen and (max-width: 455px) {
    .carousel-item .img-fluid {
        max-width: 7.5rem;
    }
}

/* When the books are above the text on smaller screens, set a margin below the book */
@media screen and (max-width: 991px) {
    .carousel-item .img-fluid {
        margin-bottom: 0.8rem;
    }
}

.testimonial-text {
    min-height: 20.5rem;
    text-align: left;
    margin-top: 0px;
}

@media screen and (max-width: 1678px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 992px */
        min-height: 20rem;
    }
}

/* Tablet */
@media screen and (max-width: 991px) {
    .testimonial-text {
        padding-left: 7rem;
        padding-right: 7rem;
        /* I used height of first testimonial when width = 815px */
        min-height: 14rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 784px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 510px */
        min-height: 17.5rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 676px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 510px */
        min-height: 22rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 610px) {
    .testimonial-text {
        padding-left: 5rem;
        padding-right: 5rem;
        /* I used height of first testimonial when width = 510px */
        min-height: 20rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 586px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 510px */
        min-height: 23.5rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 486px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 481px */
        min-height: 24.5rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 480px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 456px */
        min-height: 26rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 456px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 420px */
        min-height: 27.5rem;
    }
}


/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 444px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 420px */
        min-height: 30.5rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 426px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 398px */
        min-height: 34rem;
    }
}

/* Some screen size to ensure that there isn't a huge gap even between the first testimonial and the 3 indicators */
@media screen and (max-width: 388px) {
    .testimonial-text {
        /* I used height of first testimonial when width = 388px */
        min-height: 38rem;
    }
}

/* Thin phone */
@media screen and (max-width: 367px) {
    .testimonial-text {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        /* I used height of first testimonial when width = 340px */
        min-height: 34rem;
    }
}

.carousel-inner {
    position: relative;
    width: 100%;
    max-width: 1250px;
    overflow: hidden;
    margin: auto;
}

/* Set the max width of the space for just the books and text */
.carousel-item {
    max-width: 48rem;
    margin: auto;
}

@media screen and (min-width: 920px) and (max-width: 991px) {
    .carousel-item {
        max-width: 55rem;
    }
}

@media screen and (min-width: 1679px) {
    .carousel-item {
        max-width: 60rem;
    }
}

ol.carousel-indicators {
    position: static;
}
 
ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
    margin: 15px 5px 5px;
    border-radius: 50%;
    border: 0;
    background: #35d0ba;
}
 
ol.carousel-indicators li.active {
    background: #2b4e75;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(166, 220, 239, 0.9);
  text-shadow: 2px 2px 5px rgb(166, 220, 239, 0.9);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(166, 220, 239, 0.9);
  text-shadow: 2px 2px 5px rgb(166, 220, 239, 0.9);
}


/*********** Which Kangen Water Ionizer is right for you? ***********/
.product-column {
    padding-left: 0px;
    padding-right: 0px;
}

/* When the products are side by side and below 1679px screen width, SD501P and Super 501 are oddly larger than K8 so need to set a max-height */
@media screen and (max-width: 1678px) {
    .product-image {
        max-height: 256px;
    }    
}

@media screen and (max-width: 991px) {
    .product-image {
        max-height: 230px;
    } 
}

@media screen and (max-width: 630px) {
    .product-image {
        max-height: 210px;
    }    
}

@media screen and (max-width: 455px) {
    .product-image {
        max-height: 180px;
    }    
}

/* Any size below laptop mode - the products are arranged in a single column so I need to add margin-top to differentiate them */
@media screen and (max-width: 991px) {
    .product-column {
        margin-top: 2rem;
    }

    .k8-product-column {
        margin-top: 0.95rem;
    }
}

/* Make the text smaller in comparison to the name of the machines */
.product-text {
    font-size: 1.1rem;
}

@media screen and (min-width: 1679px) {
    .product-text {
        font-size: 1.2rem;
    }
}

.border-turquoise-button {
    background-color: #35b5c8;
    color: rgb(255, 255, 255);
    border-color: #35b5c8 !important;
}

.border-turquoise-button:hover {
    background-color: #35b5c8;
    color: black;
}

.btn-outline-turquoise {
    /* color: #bcedf0 !important; */
    background-color: transparent;
    color: rgb(48, 48, 48);
    background-image: none;
    border-color: #35b5c8 !important;
}

.btn-outline-turquoise:hover {
    /* color: #bcedf0 !important; */
    background-color: #35b5c8;
}

.picture-background {
    background-image: url(Application-Home.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}


/******************* Book an appointment with us *******************/

/* The email button will move down for when width is below 484px so need to set margin-top */
@media screen and (max-width: 483px) {
    .mobile-mt {
        margin-top: 0.35rem;
    }
}

@media screen and (max-width: 1120px) {
    .certificate {
        max-width: 7rem;
    }
}

@media screen and (max-width: 414px) {
    .certificate {
        max-width: 6rem;
    }
}


/******************* Footer *******************/
.footer-text {
    text-align: left;
    font-size: 1rem;
    margin-top: 0.8rem;
    padding-left: 0.8rem;
    color:black;
}