body {
    text-align: center;
    padding-top: 55px;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 50px;
    }
}


@media screen and (max-width: 455px) {
    .body-body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.navbar {
    background-color: #ddf3f5;
}

.navbar-brand {
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.nav-link {
    font-size: 0.95rem;
    margin-right: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar-nav {
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

h2, h4, h5, h6, p {
    margin: 8px;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 1.2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.18rem;
}

h6 {
    font-size: 1.1rem;
}

p, li, .btn-lg {
    font-size: 1rem;
}

@media screen and (min-width: 991px) {
    .navbar-brand {
        font-size: 1.2rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight:bold;
    }
    
    .nav-link {
        font-size: 0.9rem;
        margin-right: 15px;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    h2 {
        font-size: 1.65rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 1.2rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.22rem;
    }
    
    h6 {
        font-size: 1.15rem;
    }
    
    p, li, .btn-lg {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1679px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    h1, h2, h4, h6, p {
        margin: 15px;
    }
    
    h2 {
        font-size: 1.85rem;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 1.2rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.15rem;
    }
    
    h6 {
        font-size: 1.05rem;
    }
    
    p, li, .btn-lg {
        font-size: 1.05rem;
    }
}

hr {
    width: 15%;
    border-style: dotted none none;
    border-color: rgb(192, 187, 187);
    border-width: 0.4rem;
}

@media screen and (max-width: 455px) {
    .mobile-text-left {
        text-align: left;
    }
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

i.fa-5x {
    color:#e84a5f;
}


.head-banner {
    background-image: url("Head-Banner-Bkground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.row-of-ionizers {
    max-width: 800px;
}

@media screen and (min-width: 1400px) {
    .row-of-ionizers {
        max-width: 1000px;
    }
}

.container-style {
    max-width: 1000px;
    margin: auto; 
}

@media screen and (min-width: 1679px) {
    .container-style {
        max-width: 1250px;
        padding: 4% 0%;
    }
}

@media screen and (max-width: 1679px) {
    .container-style {
        padding: 5% 0%;
    }
}

@media screen and (max-width: 1330px) {
    .container-style {
        padding: 6.5% 0%;
    }
}


@media screen and (max-width: 991px) {
    .container-style { 
        padding: 8% 0%;
    }
}

@media screen and (max-width: 853px) {
    .container-style {
        padding: 12% 0%;
    }
}

@media screen and (max-width: 610px) {
    .container-style {
        padding: 18% 1%;
    }
}

.colored-banner {
    background-color: rgba(180, 226, 243, 0.9);
}

.colored-banner-text {
    color: rgb(255,255,255);
}

.diluted-banner-text {
    color: #888888;
}

.blue-text {
    color: #1b6ca8;
}


@media screen and (min-width: 992px) {
    .on-non-mobile {
        padding-top: 0rem;
    }
}

@media screen and (min-width: 456px) {
    .on-mobile {
        display: none;
    }

    .on-non-mobile {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 455px) {
    .on-non-mobile {
        display: none;
    }
}


.blueberries-banner {
    background-image: url(Fresh-Blueberries.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.white-text {
    color: white;
}


.huge-p {
    font-size: 1.1rem;
}

.img-silhouette {
    max-width: 11rem;
    margin: 0.5rem auto;
}

@media screen and (min-width: 1679px) {
    .huge-p {
        font-size: 1.4rem;
    }

    .img-silhouette {
        max-width: 13rem;
        margin: 0rem auto;
    }
}

.border-yellow-button {
    border-color: #dba80c !important;
}


.unique-container-style {
    max-width: 1125px;
}

@media screen and (max-width: 1678px) {
    .unique-container-style {
        max-width: 1080px;
    }    
}

@media screen and (max-width: 1161px) {
    .unique-container-style {
        max-width: 700px;
    }    
}

.bg-modal {
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow: auto;
    position: fixed;
    /* Centralize actual modal  */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(166, 220, 239, 0.4);
}

.modal-contents {
    height: 70%;
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1.56rem 2.8rem 1.9rem;
    position: relative;
    overflow: auto;
}

@media screen and (max-width: 570px) {
    .modal-contents {
        padding: 1.56rem 1.9rem 1.8rem 1.8rem;
    }
}

.add-modal-animation {
    animation: fadeIn ease 0.4s;
    -webkit-animation: fadeIn ease 0.4s;
    -moz-animation: fadeIn ease 0.4s;
    -o-animation: fadeIn ease 0.4s;
    -ms-animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.8rem;
    transform: rotate(45deg);
    cursor: pointer;
}

@media screen and (min-width: 1162px) {
    .buttons {
        margin-top: 2.6rem;
    }
}

@media screen and (max-width: 1161px) {
    .buttons {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 630px) {
    .image-disappear {
        display: none;
    }
    .buttons {
        margin: auto;
    }
}

.image-disappear {
    margin: auto;
}

.button-style {
    padding: 5%;
    margin: 5px;
    min-width: 235px;
}

@media screen and (min-width: 1679px) {
    .button-style {
        padding: 5%;
        margin: 5px;
        min-width: 258.94px;
    }
}

.button-text {
    margin: 0;
    color: white;
}

@media screen and (min-width: 630px) and (max-width: 730px) {
    .button-text {
        font-size: 1.2rem;
    }
    .button-style {
        min-width: 230px;
    }
}

.btn-kw {
    color: #fff;
    background-color: #cf56a1;
    border-color: #b33783;
}
  
.btn-kw:hover {
    color: #fff;
    background-color: #8b2f97;
    border-color: #8b2f97;
}
  
.btn-kw:focus, .btn-kw.focus {
    box-shadow: 0 0 0 0.12rem #8b2f97;
}

#kangen-water-h2, .kw-icons {
    color:#cf56a1;
}


.btn-cw {
    color: #fff;
    background-color: #42b883;
    border-color: #17aa85;
}
  
.btn-cw:hover {
    color: #fff;
    background-color: #1fab89;
    border-color: #1fab89;
}
  
.btn-cw:focus, .btn-cw.focus {
    box-shadow: 0 0 0 0.12rem #1fab89;
}

#clean-water-h2, .cw-icons {
    color: #42b883;
}


.btn-bw {
    color: #fff;
    background-color: #f6d743;
    border-color: #f0c736;
}
  
.btn-bw:hover {
    color: #fff;
    background-color: #f3c623;
    border-color: #f3c623;
}
  
.btn-bw:focus, .btn-bw.focus {
    box-shadow: 0 0 0 0.12rem #f3c623;
}

#beauty-water-h2, .bw-icons {
    color: #f6d743;
}


.btn-skw {
    color: #fff;
    background-color: #6d479e;
    border-color: #5e1488;
}
  
.btn-skw:hover {
    color: #fff;
    background-color: #45046a;
    border-color: #45046a;
}
  
.btn-skw:focus, .btn-skw.focus {
    box-shadow: 0 0 0 0.12rem #45046a;
}

#strong-kangen-water-h2, .skw-icons {
    color: #5c2a9d;
}


.btn-saw {
    color: #fff;
    background-color: #fa7d09;
    border-color: #ec5b26;
}
  
.btn-saw:hover {
    color: #fff;
    background-color: #ff4301;
    border-color: #ff4301;
}
  
.btn-saw:focus, .btn-saw.focus {
    box-shadow: 0 0 0 0.12rem #ff4301;
}

#strong-acidic-water-h2, .saw-icons {
    color: #fa7d09;
}


.industry-std-text {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .industry-std-text {
        text-align: left;
    }
}

#iso13485 {
    margin: auto;
    padding: 15px 0px 0px;
    min-width: 13.5rem;
    max-width: 13.5rem;
    display: block;
}

@media screen and (max-width: 991px) {
    #iso13485 {
        min-width: 10rem;
        max-width: 10rem;
    }
}

@media screen and (max-width: 455px) {
    #iso13485 {
        min-width: 8rem;
        max-width: 8rem;
    }
}

.carousel-item .img-fluid {
    max-width: 13rem;
}

@media screen and (max-width: 991px) {
    .carousel-item .img-fluid {
        max-width: 9.5rem;
    }
}

@media screen and (max-width: 455px) {
    .carousel-item .img-fluid {
        max-width: 7.5rem;
    }
}

@media screen and (max-width: 991px) {
    .carousel-item .img-fluid {
        margin-bottom: 0.8rem;
    }
}

.testimonial-text {
    min-height: 20.5rem;
    text-align: left;
    margin-top: 0px;
}

@media screen and (max-width: 1678px) {
    .testimonial-text {
        min-height: 20rem;
    }
}

@media screen and (max-width: 991px) {
    .testimonial-text {
        padding-left: 7rem;
        padding-right: 7rem;
        min-height: 14rem;
    }
}

@media screen and (max-width: 784px) {
    .testimonial-text {
        min-height: 17.5rem;
    }
}

@media screen and (max-width: 676px) {
    .testimonial-text {
        min-height: 22rem;
    }
}

@media screen and (max-width: 610px) {
    .testimonial-text {
        padding-left: 5rem;
        padding-right: 5rem;
        min-height: 20rem;
    }
}

@media screen and (max-width: 586px) {
    .testimonial-text {
        min-height: 23.5rem;
    }
}

@media screen and (max-width: 486px) {
    .testimonial-text {
        min-height: 24.5rem;
    }
}

@media screen and (max-width: 480px) {
    .testimonial-text {
        min-height: 26rem;
    }
}

@media screen and (max-width: 456px) {
    .testimonial-text {
        min-height: 27.5rem;
    }
}


@media screen and (max-width: 444px) {
    .testimonial-text {
        min-height: 30.5rem;
    }
}

@media screen and (max-width: 426px) {
    .testimonial-text {
        min-height: 34rem;
    }
}

@media screen and (max-width: 388px) {
    .testimonial-text {
        min-height: 38rem;
    }
}

@media screen and (max-width: 367px) {
    .testimonial-text {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        min-height: 34rem;
    }
}

.carousel-inner {
    position: relative;
    width: 100%;
    max-width: 1250px;
    overflow: hidden;
    margin: auto;
}

.carousel-item {
    max-width: 48rem;
    margin: auto;
}

@media screen and (min-width: 920px) and (max-width: 991px) {
    .carousel-item {
        max-width: 55rem;
    }
}

@media screen and (min-width: 1679px) {
    .carousel-item {
        max-width: 60rem;
    }
}

ol.carousel-indicators {
    position: static;
}
 
ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
    margin: 15px 5px 5px;
    border-radius: 50%;
    border: 0;
    background: #35d0ba;
}
 
ol.carousel-indicators li.active {
    background: #2b4e75;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(166, 220, 239, 0.9);
  text-shadow: 2px 2px 5px rgb(166, 220, 239, 0.9);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(166, 220, 239, 0.9);
  text-shadow: 2px 2px 5px rgb(166, 220, 239, 0.9);
}


.product-column {
    padding-left: 0px;
    padding-right: 0px;
}

.product-image {
    max-height: 260px;
}

@media screen and (max-width: 991px) {
    .product-image {
        max-height: 230px;
    } 
}

@media screen and (max-width: 630px) {
    .product-image {
        max-height: 210px;
    }    
}

@media screen and (max-width: 455px) {
    .product-image {
        max-height: 180px;
    }    
}

@media screen and (max-width: 991px) {
    .product-column {
        margin-top: 2rem;
    }

    .k8-product-column {
        margin-top: 0.95rem;
    }
}

.product-name {
    margin-top: 1.5rem;
}

.border-turqoise-button {
    border-color: #1a98ac !important;
}

.picture-background {
    background-image: url(Application-Home.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 497px) {
    .mobile-mt {
        margin-top: 0.35rem;
    }
}

@media screen and (min-width: 498px) and (max-width: 596px) {
    .last-btn-adjustment {
        margin-top: 0.35rem;
    }
}

@media screen and (max-width: 1120px) {
    .certificate {
        max-width: 7rem;
    }
}

@media screen and (max-width: 414px) {
    .certificate {
        max-width: 6rem;
    }
}


.footer-text {
    text-align: left;
    font-size: 1rem;
    margin-top: 0.8rem;
    padding-left: 0.8rem;
    color:black;
}