body {
    padding-top: 130px;
    max-width: 1250px;
    margin: auto;
}

@media (min-width: 1190px) {
    body {
        padding-left: auto;
        padding-right: auto;
    }
}

@media (max-width: 1190px) {
    body {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 1070px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
} 

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p, li {
    font-size: 1rem;
}

@media screen and (min-width: 1679px) {
    h4 {
        font-size: 1.3rem;
        margin-bottom: 1.2rem;
    }
    
    p, li {
        font-size: 1.05rem;
    }
}

/* On tablet mode and below, space is needed between the img-box and text since they are no longer side by side */
@media screen and (max-width: 991px) {
    .model-name-margin-top {
        margin-top: 1.2rem;
    }
}

/* This is like the max-width for products page */
.fixed-row {
    max-width: 970px;
    margin:auto; 
}

/* For the product images at the top */
.imgBox {
    width: 25rem;
    height: 25rem;
    margin: 0.2rem 0rem 1rem 0rem;
}

.imgBox img {
    border-radius: 0.4rem;
}

/* For all the images' sizes/dimensions box to be smaller for smaller screens */
@media screen and (max-width: 460px) {
    .imgBox {
        width: 23rem;
        height: 23rem;
    }
}

@media screen and (max-width: 430px) {
    .imgBox {
        width: 21rem;
        height: 21rem;
    }
}

@media screen and (max-width: 385px) {
    .imgBox {
        width: 19rem;
        height: 19rem;
    }
}

/* This is targeted at the small images below the imgBox */
.thumb .thumbnail {
    /* No bullet points or other pointers */
    list-style: none;
    margin: 0.2rem; 
    width: 3.8rem;
    height: 3.8rem;
    overflow: hidden;
    display: inline-block;
    border-radius: 0.2rem;
}


/* Centralize the product images for tablet mode and below */
@media (max-width: 991px) {
    .thumb {
       text-align: center;
    }

    .imgBox {
        margin: 0.2rem auto;
    }
}

/* For the size/dimensions image at the bottom */
@media screen and (min-width: 500px) {
    .scaleImgBox {
        max-width: 26.5rem;
        max-height: 25rem;
        margin: 0.2rem;
    }
}

.end-text {
    text-align: center;
}