body {
    padding-top: 80px;
    text-align: center;
    color: white;
}

.navbar-brand {
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:bold;
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
}

.nav-link {
    font-size:1rem;
    margin-right:15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: grey;
    text-decoration: none;
}

/* selected link */
a:active {
    color: grey;
    text-decoration: none;
}

h1 {
    font-size: 2.05rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.45rem;
}

h6 {
    font-size: 1.3rem;
}

p {
    font-size: 1.25rem;
}

li {
    font-size: 1.25rem;
}

.container-style {
    padding: 3% 10%;
}

.padding-for-half-banner {
    padding: 5% 5%;
}

.intro-to-kangen-water-banner {
    background-image: url("What-is-Kangen-water.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.kangen-water-banner {
    background-image: url(Kangen-water-information.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.eco-friendly-home {
    background-image: url(Application-Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.blueberries-banner {
    background-image: url(Fresh-Blueberries.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.doctors-banner {
    background-image: url(Japan-Doctors.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.doctors-text {
    padding: 10% 30% 10% 5%;
}


/* So that paragraph will be shorter in width than the h1 */
.half-banner-p {
    padding-right: 10%;
    padding-left: 10%;
}

.white-text {
    color:white;
}

.footer-text {
    text-align: left;
    font-size: 1rem;
    margin-top: 4rem;
    padding-left: 0.8rem;
    color:black;
}