body {
    padding-top: 120px;
    max-width: 1250px;
    margin: auto;
}

@media (max-width: 1679px) {
    body {
        padding-left: 9.5%;
        padding-right: 9.5%;
    }
}

@media (max-width: 853px) {
    body {
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}

.navbar {
    background-color: #ddf3f5;
}

.navbar-nav {
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}

/******** Default font sizes & text margins for screens with width <991px ********/
.navbar-brand {
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.nav-link {
    font-size: 0.95rem;
    font-family: 'Noto Sans JP', sans-serif;
}

h2, h4, h5, h6, p {
    margin: 8px 0px;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.18rem;
}

h6 {
    font-size: 1.1rem;
}

p, li, .btn-lg {
    font-size: 1rem;
}

/******** Font sizes & text margins for tablet screens ********/
@media screen and (min-width: 991px) {
    .navbar-brand {
        font-size: 1.2rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight:bold;
    }
    
    .nav-link {
        font-size: 0.9rem;
        font-family: 'Noto Sans JP', sans-serif;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.22rem;
    }
    
    h6 {
        font-size: 1.15rem;
    }
    
    p, li, .btn-lg {
        font-size: 0.98rem;
    }
}

/******** Font sizes & text margins for huge desktop screens ********/
@media screen and (min-width: 1679px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    h1, h2, h4, h6, p {
        margin: 15px 0px;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.15rem;
    }
    
    h6 {
        font-size: 1.05rem;
    }
    
    p, li, .btn-lg {
        font-size: 1.05rem;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Center the elements on mobile screens */
@media screen and (max-width: 767px) {
    .text-mobile-center {
        text-align: center;
    }
}

/* @media screen and (max-width: 767px) {
    .img-mobile-center {
        margin-left: auto;
        margin-right: auto;
    }
} */


/******* Links on pages other than product page *******/
a:link {
    color: #1d91a3;
}

/* visited link */
a:visited {
    color: #1d91a3;
}

/* mouse over link */
a:hover {
    color: #035aa6;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #035aa6;
    text-decoration: none;
}

/* Blue text is used throughout the website to add some variations so it won't be just white background with black text */
.blue-text {
    color: #1b6ca8;
}

/* Buttons borders */
.border-yellow-button {
    border-color: #dba80c !important;
}

.border-turqoise-button {
    border-color: #1a98ac !important;
}


/********************************* About Us *********************************/

.picture-background {
    background-color: #a6eaee;
    margin: 5rem 0rem;
}

.ww-business-margin-top {
    margin-top: 1rem;
}

@media screen and (min-width: 992px) and (max-width: 1678px) {
    .ww-business-margin-top {
        margin-top: 0rem;
    }
}


/********************************* PRODUCTS *********************************/

.product-section-name {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* For space between each row of products */
.products-wrap {
    padding: 0.5rem 0rem;
}

@media screen and (max-width: 992px) {
    .products-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* The entire area within the div that has the products-wrap class is an anchor element */
/* unvisited link */
.products-wrap a:link {
    color: black;
}

/* visited link */
.products-wrap a:visited {
    color: black;
}

/* mouse over link */
.products-wrap a:hover {
    color: #035aa6;
    text-decoration: none;
}

/* selected link */
.products-wrap a:active {
    color: #035aa6;
    text-decoration: none;
}

.products p {
    padding-bottom: 0.8rem;
}

/* This is the division within each column and its sizing for each screen width */
.products {
    padding: 2rem;
    height: 30rem;
    width: 25rem;
    border: 1px solid #a2a4a6;
    border-radius: 0.4rem;
}

.products:hover {
    border: 1px solid #035aa6;
}

@media screen and (max-width: 1679px) {
    .products {
        height: 27rem;
        width: 19.5rem;
    }
}

@media screen and (max-width: 1610px) {
    .products {
        height: 26.5rem;
        width: 19.5rem;
    }
}

@media screen and (max-width: 1440px) {
    .products {
        height: 26rem;
        width: 20rem;
    }
}

@media screen and (max-width: 1260px) {
    .products {
        height: 24rem;
        width: 18rem;
    }
}

@media screen and (max-width: 1130px) {
    .products {
        height: 22rem;
        width: 16rem;
    }
} 

@media screen and (max-width: 991.8px) {
    .products {
        height: 26rem;
        width: 20rem;
    }
} 

@media screen and (max-width: 830px) {
    .products {
        height: 24rem;
        width: 18rem;
    }
} 

@media screen and (max-width: 710px) {
    .products {
        padding: 2rem;
        height: 22rem;
        width: 16rem;
    }
} 

@media screen and (max-width: 630px) {
    .products {
        height: 20rem;
        width: 14.5rem;
    }
} 

@media screen and (max-width: 575.8px) {
    .products {
        padding: 2rem;
        height: 30rem;
        width: 25rem;
    }
}

@media screen and (max-width: 480px) {
    .products {
        padding: 2rem;
        height: 27rem;
        width: 20rem;
    }
}

@media screen and (max-width: 400px) {
    .products {
        padding: 2rem;
        height: 25rem;
        width: 18rem;
    }
}

/* For laptop mode and above, anespa and ukon are side by side so I introduced some spacing to the left of ukon to space them out abit */
@media screen and (min-width: 992px) { 
    .ukon-spacing {
        margin-left: 5rem;
    }
}

/* Add more space between anespa and ukon when they are stacked in vertical arrangement */
@media screen and (max-width: 576px) { 
    .ukon-spacing {
        margin-top: 1.4rem;
    }
}


/********************************* CERTIFICATE SPECIFIC *********************************/

/* Used for testimonials top margins as well */
.certificate-top-margin {
    margin-top: 4rem;
}

.paper-certificate {
    overflow: auto;
    max-height: 300px;
}

@media screen and (min-width: 520px) and (max-width: 637px) { 
    .dsa-sg-cert {
        max-width: 90%;
    }
}

@media screen and (min-width: 638px) and (max-width: 767px) { 
    .dsa-sg-cert {
        max-width: 80%;
    }
}

@media screen and (min-width: 1679px) { 
    .dsa-sg-cert {
        max-width: 80%;
    }
}

/* Modal Background */
.bg-modal {
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    overflow: auto;
    position: fixed;
    /* Centralize actual modal  */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 108, 139, 0.2);
}

/* Actual Modal Box */
.modal-contents {
    height: 70%;
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1.56rem 2.8rem 1.9rem;
    position: relative;
    overflow: auto;
}

.add-modal-animation {
    animation: fadeIn ease 0.4s;
    -webkit-animation: fadeIn ease 0.4s;
    -moz-animation: fadeIn ease 0.4s;
    -o-animation: fadeIn ease 0.4s;
    -ms-animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/* Set position of the close button */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.8rem;
    transform: rotate(45deg);
    /* It will make your cursor look like the link pointer when you hover over it */
    cursor: pointer;
}


/********************************* CONTACT US & FAQ SPECIFIC *********************************/
/* Style for buttons beside the respective contact details */
.btn-contact-us {
    color: #fff;
    background-color: rgb(79, 182, 219);
    border-color: rgb(74, 173, 209);
}

/* Only for the 3 buttons beside the contact number */
@media screen and (max-width: 592px) {
    .set-of-number-icons {
        display: block;
        margin-top: 0.5rem;
        margin-left: 6rem;
    }
}

@media screen and (max-width: 439px) {
    .set-of-number-icons {
        margin-left: 0rem;
    }
}

/* Only for the email and find directions buttons */
@media screen and (max-width: 587px) {
    .btn-mobile-center {
        display: block;
        margin-top: 0.5rem;
    }
}

/* Only the big FontAwesome icons become this color - so far only for the showroom icons */
i.fa-5x {
    color:rgb(166, 220, 239, 0.8);
}

/* Make sure that the showroom icons have space above and below them for tablet size and smaller - icons are stacked vertically for these screens */
/* I use showroom-icons class because this margin is not for the first icon */

/* All icons except the 1st one have margin-top for phone mode */
@media screen and (max-width: 767px) {
    .first-row-showroom-icons {
        margin-top: 30px;
    }
    .second-row-showroom-icons {
        margin-top: 30px;
    }
}

/* Only second row of 3 icons have margin-top for tablet mode */
@media screen and (max-width: 991px) {
    .second-row-showroom-icons {
        margin-top: 30px;
    }
}

/* All FAQ questions are of blue colour, while the answers are in black */
.question {
    color: rgb(26, 137, 149);
}

/* Style for the entire answer to the FIRST faq */
.answer-style {
    max-width: 917px; 
    margin: auto;
}

hr {
    margin-top: 3rem;
    width: 30%;
    border-style: dotted none none;
    border-color: rgb(192, 187, 187);
    border-width: 0.4rem;
}

/* Add the table lines */
table, th, td {
    border: solid 1px black;
}

/* Widen the space between each point to the first faq */
table {
    margin-top: 25px;
}

/* Ensure that each column in the table of the first faq is of the same width */
th, td {
    width: 50%;
    text-align: center;
    padding: 1rem;
}


/********************************* Testimonials *********************************/
.testimonial-img {
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.footer-text {
    text-align: center;
    font-size: 0.76rem;
    margin-top: 4rem;
    margin-bottom: 0.8rem;
    color:black;
}
